doctype html
html(lang="zh-Hant-TW")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title test

  body
    h1 Hello World!
    p this is gh-pages test
    p hahahhahahahhahahahahah
    h2 I am king of the world
    h3 yoyoyoyoyo
    h4 test
